POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ECHO=false
SEED_DATA=false
JWT_SECRET=3611d1a06e9e9ef2924f1fd65ed808f3
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30